<FilesMatch config.json>
Order Allow,Deny
Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} ^.*\/[a-zA-Z0-9]+$
RewriteRule ^(.*)$ index.php?view=$1 [L,NC,QSA]
</IfModule>

Options -Indexes -MultiViews
DirectoryIndex index.php